.u-block-56fb-2 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-block-56fb-3 {
  position: absolute;
  left: 0;
}

.u-block-56fb-4 {
  position: absolute;
  right: 0;
}

.u-section-1-1 {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0.8)
    ),
    url("images/notitle.jpeg");
  background-position: 50% 50%, 50% 19.15%;
  background-repeat: no-repeat, no-repeat;
  background-size: cover, cover;
}

.u-section-1-1 .u-sheet-1 {
  min-height: 745px;
}

.u-section-1-1 .u-text-1 {
  font-size: 6rem;
  text-shadow: 3px 2px 8px rgba(255, 255, 255, 0.4);
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-weight: 700;
  text-transform: uppercase;
  width: 659px;
  margin: 309px auto 0;
}

.u-section-1-1 .u-text-2 {
  font-weight: 700;
  font-size: 1.25rem;
  text-shadow: 4px 2px 8px rgba(255, 255, 255, 0.4);
  text-transform: uppercase;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 642px;
  }

  .u-section-1-1 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-1-1 .u-text-2 {
    margin-right: 595px;
    margin-left: 104px;
  }
}

@media (max-width: 991px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 484px;
  }

  .u-section-1-1 .u-text-1 {
    width: auto;
    margin-top: 154px;
    margin-right: 294px;
  }

  .u-section-1-1 .u-text-2 {
    width: auto;
    margin-right: auto;
    margin-left: auto;
  }
}

@media (max-width: 767px) {
  .u-section-1-1 .u-text-1 {
    font-size: 3rem;
    margin-right: 114px;
  }

  .u-section-1-1 .u-text-2 {
    margin-top: 20px;
    margin-bottom: initial;
  }
}

@media (max-width: 575px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 304px;
  }

  .u-section-1-1 .u-text-1 {
    font-size: 2.25rem;
    margin-top: 60px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1-1 .u-text-2 {
    width: 214px;
    margin-bottom: 60px;
  }
}
.u-section-2 .u-sheet-1 {
  min-height: 415px;
}

.u-section-2 .u-text-1 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.875rem;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  width: 396px;
  margin: 61px auto 0;
}

.u-section-2 .u-text-2 {
  line-height: 1.8;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-size: 1.125rem;
  margin: 31px 49px 59px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-left: 432px;
    margin-right: 432px;
  }

  .u-section-2 .u-text-2 {
    width: 753px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-left: 248px;
    margin-right: 248px;
  }

  .u-section-2 .u-text-2 {
    width: 540px;
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    width: 340px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    width: 340px;
    font-size: 0.75rem;
  }
}
.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 2229px;
}

.u-section-3 .u-tabs-1 {
  min-height: 2153px;
  margin-top: 38px;
  margin-bottom: 38px;
  height: auto;
}

.u-section-3 .u-tab-link-1 {
  font-size: 1.25rem;
  background-image: none;
  letter-spacing: 0px;
  font-weight: 900;
  --radius: 10px;
  padding: 10px 25px;
}

.u-section-3 .u-tab-link-2 {
  font-size: 1.25rem;
  background-image: none;
  letter-spacing: 0px;
  font-weight: 900;
  --radius: 10px;
  padding: 10px 25px;
}

.u-section-3 .u-tab-link-3 {
  font-size: 1.25rem;
  background-image: none;
  letter-spacing: 0px;
  font-weight: 900;
  --radius: 10px;
  padding: 10px 25px;
}

.u-section-3 .u-tab-link-4 {
  font-size: 1.25rem;
  background-image: none;
  letter-spacing: 0px;
  font-weight: 900;
  --radius: 10px;
  padding: 10px 25px;
}

.u-section-3 .u-tab-pane-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 30px 21px;
}

.u-section-3 .u-text-1 {
  text-transform: uppercase;
  font-weight: 700;
  margin: 0 auto 0 342px;
}

.u-section-3 .u-text-2 {
  font-size: 1.125rem;
  margin: 18px 60px 0;
}

.u-section-3 .u-text-3 {
  font-size: 1rem;
  font-weight: 700;
  background-image: none;
  margin: 20px 99px 0;
}

.u-section-3 .u-text-4 {
  font-size: 1.125rem;
  margin: 20px 60px 0;
}

.u-section-3 .u-gallery-1 {
  height: 1483px;
  margin-top: 30px;
  margin-bottom: 0;
}

.u-section-3 .u-gallery-inner-1 {
  grid-template-columns: repeat(4, auto);
  grid-gap: 10px;
}

.u-section-3 .u-over-slide-1 {
  background-image: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2)
  );
  padding: 20px;
}

.u-section-3 .u-over-slide-2 {
  background-image: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2)
  );
  padding: 20px;
}

.u-section-3 .u-over-slide-3 {
  background-image: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2)
  );
  padding: 20px;
}

.u-section-3 .u-over-slide-4 {
  background-image: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2)
  );
  padding: 20px;
}

.u-section-3 .u-over-slide-5 {
  background-image: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2)
  );
  padding: 20px;
}

.u-section-3 .u-over-slide-6 {
  background-image: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2)
  );
  padding: 20px;
}

.u-section-3 .u-over-slide-7 {
  background-image: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2)
  );
  padding: 20px;
}

.u-section-3 .u-over-slide-8 {
  background-image: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2)
  );
  padding: 20px;
}

.u-section-3 .u-over-slide-9 {
  background-image: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2)
  );
  padding: 20px;
}

.u-section-3 .u-over-slide-10 {
  background-image: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2)
  );
  padding: 20px;
}

.u-section-3 .u-over-slide-11 {
  background-image: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2)
  );
  padding: 20px;
}

.u-section-3 .u-over-slide-12 {
  background-image: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2)
  );
  padding: 20px;
}

.u-section-3 .u-over-slide-13 {
  background-image: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2)
  );
  padding: 20px;
}

.u-section-3 .u-back-image-14 {
  object-position: 50% 25.28%;
}

.u-section-3 .u-over-slide-14 {
  background-image: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2)
  );
  padding: 20px;
}

.u-section-3 .u-back-image-15 {
  object-position: 50% 68.38%;
}

.u-section-3 .u-over-slide-15 {
  background-image: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2)
  );
  padding: 20px;
}

.u-section-3 .u-over-slide-16 {
  background-image: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2)
  );
  padding: 20px;
}

.u-section-3 .u-btn-1 {
  --radius: 20px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.4);
  margin: 20px auto 0;
  padding: 21px 58px 21px 56px;
}

.u-section-3 .u-tab-pane-2 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-container-layout-2 {
  padding: 13px 30px;
}

.u-section-3 .u-text-5 {
  text-transform: uppercase;
  font-weight: 700;
  margin: 17px auto 0;
}

.u-section-3 .u-text-6 {
  font-size: 1.125rem;
  margin: 18px 60px 0;
}

.u-section-3 .u-text-7 {
  font-size: 1rem;
  font-weight: 700;
  background-image: none;
  margin: 20px 99px 0;
}

.u-section-3 .u-text-8 {
  font-size: 1.125rem;
  margin: 20px 60px 0;
}

.u-section-3 .u-gallery-2 {
  height: 1441px;
  width: 853px;
  margin: 30px auto 0;
}

.u-section-3 .u-gallery-inner-2 {
  grid-template-columns: repeat(3, auto);
  grid-gap: 10px;
}

.u-section-3 .u-over-slide-17 {
  background-image: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2)
  );
  padding: 20px;
}

.u-section-3 .u-over-slide-18 {
  background-image: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2)
  );
  padding: 20px;
}

.u-section-3 .u-over-slide-19 {
  background-image: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2)
  );
  padding: 20px;
}

.u-section-3 .u-over-slide-20 {
  background-image: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2)
  );
  padding: 20px;
}

.u-section-3 .u-over-slide-21 {
  background-image: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2)
  );
  padding: 20px;
}

.u-section-3 .u-over-slide-22 {
  background-image: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2)
  );
  padding: 20px;
}

.u-section-3 .u-over-slide-23 {
  background-image: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2)
  );
  padding: 20px;
}

.u-section-3 .u-over-slide-24 {
  background-image: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2)
  );
  padding: 20px;
}

.u-section-3 .u-over-slide-25 {
  background-image: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2)
  );
  padding: 20px;
}

.u-section-3 .u-back-image-26 {
  object-position: 50% 100%;
}

.u-section-3 .u-over-slide-26 {
  background-image: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2)
  );
  padding: 20px;
}

.u-section-3 .u-over-slide-27 {
  background-image: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2)
  );
  padding: 20px;
}

.u-section-3 .u-over-slide-28 {
  background-image: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2)
  );
  padding: 20px;
}

.u-section-3 .u-over-slide-29 {
  background-image: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2)
  );
  padding: 20px;
}

.u-section-3 .u-over-slide-30 {
  background-image: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2)
  );
  padding: 20px;
}

.u-section-3 .u-over-slide-31 {
  background-image: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2)
  );
  padding: 20px;
}

.u-section-3 .u-btn-2 {
  --radius: 20px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.4);
  margin: 60px auto 0;
  padding: 21px 58px 21px 56px;
}

.u-section-3 .u-tab-pane-3 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-text-9 {
  text-transform: uppercase;
  font-weight: 700;
  margin: 0 auto;
}

.u-section-3 .u-text-10 {
  font-size: 1.125rem;
  margin: 18px 60px 0;
}

.u-section-3 .u-text-11 {
  font-size: 1rem;
  font-weight: 700;
  background-image: none;
  margin: 20px 99px 0;
}

.u-section-3 .u-text-12 {
  font-size: 1.125rem;
  margin: 20px 60px 0;
}

.u-section-3 .u-gallery-3 {
  height: 1571px;
  margin-top: -23px;
  margin-bottom: 0;
}

.u-section-3 .u-gallery-inner-3 {
  grid-template-columns: repeat(4, auto);
  grid-gap: 10px;
}

.u-section-3 .u-over-slide-32 {
  background-image: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2)
  );
  padding: 20px;
}

.u-section-3 .u-over-slide-33 {
  background-image: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2)
  );
  padding: 20px;
}

.u-section-3 .u-over-slide-34 {
  background-image: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2)
  );
  padding: 20px;
}

.u-section-3 .u-over-slide-35 {
  background-image: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2)
  );
  padding: 20px;
}

.u-section-3 .u-over-slide-36 {
  background-image: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2)
  );
  padding: 20px;
}

.u-section-3 .u-over-slide-37 {
  background-image: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2)
  );
  padding: 20px;
}

.u-section-3 .u-over-slide-38 {
  background-image: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2)
  );
  padding: 20px;
}

.u-section-3 .u-over-slide-39 {
  background-image: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2)
  );
  padding: 20px;
}

.u-section-3 .u-over-slide-40 {
  background-image: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2)
  );
  padding: 20px;
}

.u-section-3 .u-over-slide-41 {
  background-image: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2)
  );
  padding: 20px;
}

.u-section-3 .u-over-slide-42 {
  background-image: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2)
  );
  padding: 20px;
}

.u-section-3 .u-over-slide-43 {
  background-image: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2)
  );
  padding: 20px;
}

.u-section-3 .u-over-slide-44 {
  background-image: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2)
  );
  padding: 20px;
}

.u-section-3 .u-over-slide-45 {
  background-image: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2)
  );
  padding: 20px;
}

.u-section-3 .u-over-slide-46 {
  background-image: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2)
  );
  padding: 20px;
}

.u-section-3 .u-tab-pane-4 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px;
}

.u-section-3 .u-text-13 {
  text-transform: uppercase;
  font-weight: 700;
  margin: 0 auto;
}

.u-section-3 .u-text-14 {
  font-size: 1.125rem;
  margin: 17px 49px 0;
}

.u-section-3 .u-text-15 {
  font-size: 1rem;
  font-weight: 700;
  background-image: none;
  margin: 20px 99px 0;
}

.u-section-3 .u-text-16 {
  font-size: 1.125rem;
  margin: 20px 60px 0;
}

.u-section-3 .u-text-17 {
  margin-left: 60px;
  margin-right: 60px;
  margin-bottom: 0;
  font-size: 3rem;
  font-weight: 600;
  text-transform: uppercase;
}

.u-section-3 .u-text-18 {
  font-weight: 400;
  font-size: 1.5rem;
  margin: 20px 38px 0;
}

.u-section-3 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-btn-4 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-text-19 {
  margin-left: 38px;
  margin-right: 38px;
  margin-bottom: 0;
  font-weight: 600;
  font-size: 1.5rem;
}

.u-section-3 .u-gallery-4 {
  height: 1074px;
  margin-top: 30px;
  margin-bottom: 0;
}

.u-section-3 .u-gallery-inner-4 {
  grid-template-columns: repeat(2, auto);
  grid-gap: 10px;
}

.u-section-3 .u-over-slide-47 {
  background-image: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2)
  );
  padding: 20px;
}

.u-section-3 .u-over-slide-48 {
  background-image: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2)
  );
  padding: 20px;
}

.u-section-3 .u-over-slide-49 {
  background-image: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2)
  );
  padding: 20px;
}

.u-section-3 .u-over-slide-50 {
  background-image: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2)
  );
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-tab-link-1 {
    --radius: 5px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 278px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-gallery-1 {
    height: 1208px;
  }

  .u-section-3 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-gallery-2 {
    height: 1440px;
  }

  .u-section-3 .u-text-9 {
    margin-left: 278px;
  }

  .u-section-3 .u-text-10 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-11 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-12 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-gallery-3 {
    height: 1280px;
  }

  .u-section-3 .u-text-13 {
    margin-left: 278px;
  }

  .u-section-3 .u-text-14 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-15 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-16 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-17 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-18 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-19 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-gallery-4 {
    height: 875px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    margin-left: 209px;
  }

  .u-section-3 .u-gallery-1 {
    height: 3624px;
  }

  .u-section-3 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }

  .u-section-3 .u-gallery-2 {
    height: 2674px;
    width: 660px;
  }

  .u-section-3 .u-gallery-inner-2 {
    grid-template-columns: repeat(2, auto);
  }

  .u-section-3 .u-text-9 {
    margin-left: auto;
  }

  .u-section-3 .u-gallery-3 {
    height: 3840px;
  }

  .u-section-3 .u-gallery-inner-3 {
    grid-template-columns: repeat(2, auto);
  }

  .u-section-3 .u-text-13 {
    margin-left: auto;
  }

  .u-section-3 .u-gallery-4 {
    height: 2625px;
  }

  .u-section-3 .u-gallery-inner-4 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-tab-link-1 {
    font-size: 1rem;
  }

  .u-section-3 .u-tab-link-2 {
    font-size: 1rem;
  }

  .u-section-3 .u-tab-link-3 {
    font-size: 1rem;
  }

  .u-section-3 .u-tab-link-4 {
    font-size: 1rem;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 165px;
  }

  .u-section-3 .u-gallery-1 {
    height: 11421px;
  }

  .u-section-3 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-gallery-2 {
    height: 7900px;
    width: 520px;
  }

  .u-section-3 .u-gallery-inner-2 {
    grid-template-columns: repeat(1, auto);
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-gallery-3 {
    height: 11345px;
  }

  .u-section-3 .u-gallery-inner-3 {
    grid-template-columns: repeat(1, auto);
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-18 {
    font-size: 1rem;
  }

  .u-section-3 .u-text-19 {
    font-size: 1rem;
  }

  .u-section-3 .u-gallery-4 {
    height: 2068px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1231px;
  }

  .u-section-3 .u-tabs-1 {
    min-height: 1231px;
    margin-bottom: 0;
  }

  .u-section-3 .u-tab-link-1 {
    font-size: 0.625rem;
    padding-left: 5px;
    padding-right: 5px;
  }

  .u-section-3 .u-tab-link-2 {
    font-size: 0.625rem;
    padding-left: 5px;
    padding-right: 5px;
  }

  .u-section-3 .u-tab-link-3 {
    font-size: 0.625rem;
    padding-left: 5px;
    padding-right: 5px;
  }

  .u-section-3 .u-tab-link-4 {
    font-size: 0.625rem;
    padding-left: 5px;
    padding-right: 5px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 21px;
    padding-bottom: 0;
  }

  .u-section-3 .u-text-1 {
    margin-top: 9px;
    margin-left: auto;
  }

  .u-section-3 .u-text-2 {
    font-size: 0.875rem;
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-3 .u-text-3 {
    font-size: 0.75rem;
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-3 .u-text-4 {
    font-size: 0.875rem;
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-3 .u-gallery-1 {
    height: 445px;
    width: 320px;
    margin-top: -11px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-gallery-inner-1 {
    grid-template-columns: repeat(4, auto);
  }

  .u-section-3 .u-btn-1 {
    margin-top: 31px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-bottom: 0;
  }

  .u-section-3 .u-text-6 {
    font-size: 0.875rem;
  }

  .u-section-3 .u-text-7 {
    font-size: 0.75rem;
  }

  .u-section-3 .u-text-8 {
    font-size: 0.875rem;
  }

  .u-section-3 .u-gallery-2 {
    height: 540px;
    margin-top: -15px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-gallery-inner-2 {
    grid-template-columns: repeat(3, auto);
  }

  .u-section-3 .u-btn-2 {
    margin-top: 65px;
  }

  .u-section-3 .u-text-10 {
    font-size: 0.875rem;
  }

  .u-section-3 .u-text-11 {
    font-size: 0.875rem;
  }

  .u-section-3 .u-text-12 {
    font-size: 0.875rem;
  }

  .u-section-3 .u-gallery-3 {
    margin-top: -31px;
    height: 783px;
  }

  .u-section-3 .u-gallery-inner-3 {
    grid-template-columns: repeat(3, auto);
  }

  .u-section-3 .u-text-14 {
    font-size: 0.875rem;
  }

  .u-section-3 .u-text-15 {
    font-size: 0.75rem;
  }

  .u-section-3 .u-text-16 {
    font-size: 0.875rem;
  }

  .u-section-3 .u-text-17 {
    font-size: 1.875rem;
    width: 234px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-text-18 {
    width: auto;
    margin-top: 16px;
  }

  .u-section-3 .u-text-19 {
    width: auto;
    margin-top: 16px;
  }

  .u-section-3 .u-gallery-4 {
    margin-top: 59px;
    height: 1273px;
  }
}
